force-app/main/default/flows/Flows_Force/Estado_en_cuenta.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <description>Estado de la factura</description>
        <name>Mensaje_en_contacto</name>
        <label>Mensaje_en_contacto</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>estado_de_factura.estado_factura__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NO PAGADA</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Alerta_cuenta</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Estado_en_cuenta {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Estado_en_cuenta</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>estado_de_factura</name>
        <label>estado_de_factura</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Mensaje_en_contacto</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>estado_factura__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NO PAGADA</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Factura__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Alerta en la cuenta sobre el estado impago de la factura</description>
        <name>Alerta_cuenta</name>
        <label>Alerta_cuenta</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountSource</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Factura__c</field>
            <value>
                <elementReference>Mensaje</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>estado_de_factura</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Factura__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Mensaje</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>false</stringValue>
        </value>
    </variables>
</Flow>
